{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'homepage' %}">Godwin's Portfolio</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'aboutpage' %}">About</a></li>
                <li><a href="{% url 'projectspage' %}">Projects</a></li>
                <li><a href="{% url 'contactpage' %}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ now|date:"Y" }} Godwin Ofwono. All rights reserved.</p>
    </footer>
</body>
</html>